/* RGB */
$color1: rgba(19, 101, 119, 1);
$color2: rgba(7, 145, 138, 1);
$color3: rgba(239, 217, 189, 1);
$color4: rgba(145, 49, 42, 1);
$color5: rgba(249, 253, 255, 1);

// /* RGB */
// $color1: rgba(26, 83, 92, 1);
// $color2: rgba(78, 205, 196, 1);
// $color3: rgba(247, 255, 247, 1);
// $color4: rgba(255, 107, 107, 1);
// $color5: rgba(255, 230, 109, 1);