@import '_variables.scss';
#google-font-preview-extension {
    section,
    div,
    * {
        padding: 0;
        margin: 0;
        background: transparent;
    }
    &,
    * {
        box-sizing: border-box;
    }
    font-family: $fontFamily;
    font-size: 14px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: $z-index;
    width: $width;
    background: $bg-color;
    color: $text-color;
    box-shadow:10px 10px 12px rgba(0, 0, 0, .3);
    transition: box-shadow $duration;
    animation: gfp-slide-right $duration forwards;
    &:hover {
        box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
    }
    a {
        color: $text-color;
        text-decoration: none;
    }
    #gfp-loader {
        background-color: white;
        position: absolute;
        top: -200px;
        left: 50%;
        margin-left: -25px;
        width: 50px;
        height: 50px;
        z-index: $z-index + 100;
        border-radius: 50%;
        box-shadow: 0 3px 15px rgba(0, 0, 0, .4);
        #gfp-loader-inner {
            margin: (25px/2);
            width: 25px;
            height: 25px;
            border: 2px solid $primary-color;
            border-color: transparent $primary-color  $primary-color  $primary-color  ;
            border-radius: 50%;
            opacity: 1;
            animation: gfp-loader $duration*7 $easeInOutBack 0s infinite normal forwards;
        }
        animation: gfp-bounce $duration*7 both infinite;
        .gfp-loading & {
            top: 10px;
        }
    }
    #gfp-section-settings {
        display: none;
        padding: $spacing;
        background: darken($primary-color, 8);
    }
    #gfp-section-main {
        position: relative;
        padding: $spacing;
        background: $primary-color;
    }
    #gfp-actions {
        margin-bottom: $spacing/2;
        a {
            display: block;
            padding: 0;
            background: white;
            height: 40px;
            border-radius: $radius;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
            transition: $duration/2 $easeInOutSine;
            &:hover {
                box-shadow: 0px 4px 10px rgba(0, 0, 0, .4);
            }
            &:active {
                box-shadow: none;
            }
            &,
            i {
                line-height: 40px!important;
            }
        }
        #gfp-action-settings,
        #gfp-action-reset {
            float: left;
            color: $dark-text-color;
        }
        #gfp-action-settings,
        #gfp-action-reset,
        #gfp-action-apply,
        #gfp-action-italic {
            width: 40px;
            text-align: center;
            font-size: 22px;
        }
        #gfp-action-settings {
            margin-right: 10px;
        }
        #gfp-action-reset {
            color: $accent-color;
        }
        #gfp-action-apply {
            float: right;
            color: $dark-primary-color;
        }
        #gfp-action-italic {
            float: right;
            margin-right: $spacing/2;
            opacity: 0.4;
            &.active {
                opacity: 1;
                color: $dark-primary-color;
            }
        }
        #gfp-font-weight {
            width: auto;
            float: right;
            line-height: 40px;
            height: 40px;
            padding: 0 $spacing/2;
            margin-right: $spacing/2;
        }
    }
    .gfp-clearfix {
        &::after {
            clear: both;
            content: "";
            display: table;
        }
    }
    .gfp-input {
        display: block;
        width: 100%;
        background: white;
        border-radius: $radius;
        padding: $spacing/2;
        border: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: box-shadow $duration $easeInOutBack;
        font-family: $fontFamily;
        &:hover,
        &:focus {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            outline: none;
        }
    }
    #gfp-css-selectors {
        resize: vertical!important;
        max-height: 200px!important;
        min-height: 40px!important;
        height: 80px;
    }
    #gfp-fonts-search-wrap {
        padding: $spacing;
    }
    #gfp-fonts-search-bar {
        border-radius: 20px;
        height: 40px;
        line-height: 40px;
        padding: 0 $spacing;
        text-align: center;
    }
    #gfp-font-families {
        padding: 0;
        height: 800px;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background: $seprator-color;
        }
        &::-webkit-scrollbar-thumb {
            background: #666;
        }
        &::-webkit-scrollbar-thumb {
            background: #666;
        }
    }
    .gfp-font-family {
        overflow: hidden;
        background: white;
        height: 40px;
        line-height: 40px;
        position: relative;
        .gfp-font-family-preview {
            margin-right: 40px;
            display: block;
            padding-left: $spacing/2;
            font-size: 1.2em;
            height: 40px;
        }
        &.gfp-font-family-loading-error {
            .gfp-font-family-preview {
                color: $error-color;
            }
        }
        .gfp-font-family-action {
            position: absolute;
            display: block;
            padding: 0;
            border-left: 1px solid $seprator-color;
            width: 40px;
            height: 40px;
            right: 0;
            top: 0;
            text-align: center;
            z-index: $z-index+20;
        }
        border-bottom: 1px solid $seprator-color;
        &:last-child {
            border-bottom: none;
        }
        // &.gfp-font-family-loading:before {
        //     $color: $primary-color;
        //     content: "";
        //     position: absolute;
        //     border: 1px solid transparent;
        //     border-color: $color $color $color transparent;
        //     border-radius: 50%;
        //     box-sizing: border-box;
        //     animation-name: gfp-loader;
        //     animation-duration: 1s;
        //     animation-timing-function: $easeInOutBack;
        //     animation-fill-mode: forwards;
        //     animation-iteration-count: infinite;
        //     height: 20px;
        //     width: 20px;
        //     top: 10px;
        //     right: 50px;
        //     animation-direction: reverse;
        // }
    }
}

@keyframes gfp-slide-right {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes gfp-bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(30px);
    }
    40% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(15px) 
    }
}

@keyframes gfp-loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
